.main-header {
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
    position: fixed;
    display: flex;
    padding: 16px 24px;
    top: 24px;
    left: 108px;
    justify-content: space-between;
    align-items: center;
    right: 200px;
    border-radius: 10px;
}
  
.header-nav ul {
    display: flex;
    gap: 24px;
}
  
.header-nav ul li:first-child{
    color: #2D66EE;
    font-size: 20px;
    line-height: 18px;
    letter-spacing: -0.15px;
    font-weight: bold;
    margin-right: 80px;
}
  
.header-nav ul li a {
    color: #101828;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.15px;
    text-decoration: none;
}
  
.header-address ul {
    display: flex;
    gap: 32px;
}
  
.header-address ul li {
    color: #2D66EE;
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.15px;
}

.image-right {
    flex: 1 1 50%;
    max-width: 50%;
    box-sizing: border-box;
  }
  
  .image-right img {
    width: 100%;
    height: auto;
    display: block;
  } 